.upr_container{
    margin-left: 40px;
}
.cource_intro{
    width: 50%;

}
.cards{
    display: flex;
}

.science_cards{
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin-left: 40px;
    border-radius: 5%;
    padding: 2px;
}

.science_image{
    height: 70%;
    width: 100%;
    border-radius: 5%;
}
.sub{
    font-family: Arial, Helvetica, sans-serif;
}
.cards_1{
    display: flex;
    flex-wrap: wrap;
}
.eng_cards{
    height: 350px;
    width: 350px;
    border: 2px solid black;
    margin:0px 0px 40px 40px;
    border-radius: 5%;
    padding: 2px;
}
.eng_image{
    height: 75%;
    width: 100%;
    border-radius: 5%;

}