
* {
    font-family: 'Nunito', sans-serif;
    transition: all .2s ease-out;}

    html::-webkit-scrollbar {
        width: 0.6rem;
    }

    html::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 5rem;
    }

    html::-webkit-scrollbar-track {
        background: #333;
    }

.upr_container{
    margin-left: 40px;
}
#head{
    font-size:xx-large;
}

.main{
    font-size: larger;  
}
.cource_intro{
    width: 70%;
    color: #666;
}
.cards{
    display: flex;
}

.science_cards{
    height: 350px;
    width: 330px;
    border: 2px solid black;
    margin-left: 40px;
    border-radius: 5%;
    padding: 2px;
}

.science_image{
    height: 70%;
    width: 100%;
    border-radius: 5%;
}
.sub{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: rgb(207, 207, 207);
    /* display: none; */
}
.cards_1{
    display: flex;
    flex-wrap: wrap;
}
.eng_cards{
    height: 350px;
    width: 330px;
    border: 2px solid black;
    margin:0px 0px 40px 40px;
    border-radius: 5%;
    padding: 2px;
}
.eng_image{
    height: 75%;
    width: 100%;
    border-radius: 5%;

}