*{
    margin: 0px;
    padding: 0px;
}
body{

    background-color: #111;
    color: white;
}

nav{
    height:50px;
    position: sticky;
    background-color: #111;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #111;
}
  
li a:hover:not(.active) {
    background-color: white;
    color:black;
}
  
.active {
    background-color: #111;
    text-align: center;
    
}
#logoImg{
    height: 46px;
    width: 45px;
}


