body
{
  /* make it look decent enough */
  font-family: "Avenir Next", "Avenir", sans-serif;

  overflow-x: hidden; /* needed because hiding the menu on the right side is not perfect,  */
}

#menu li a
{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

#menu li a:hover
{
  color: red;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 43px;
  right: 20px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  display:flex;
  flex-direction:column;
    border-radius: 20%;
  position: absolute;
  width: 300px;
  height:850px;
  margin: 20px 0 0 0;
  padding: 50px;
  padding-top: 40px;
  right: -100px;
  background:#ffb02875;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 24px;
}
#menu li:hover{
    color:orange;
    font-size: 24px;
}
#menu li h1,h4, :hover{
    color:white;
    font-weight: bold;
}
#menu li h5{
    font-size: 24px;
    background-color: white;
    border-radius: 30px;
    width:50%;
    text-align:center;
}
#menu li h5:hover{
    background-color: orange;
    color:white;
    transform: scale(1.3);
    transition:0.3s;
}
.images{
    border-radius: 50%;
    width:80px;
    margin:5px;
}
.images:hover{
    transform:scale(1.25);
    transition:0.3s;
    border: 1px solid transparent;
}
.menu-row{
    display:flex;
    margin-top:2rem;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  #menu {
    transform: none;
    opacity: 0;

    transition: opacity 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
}