<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/cources.css">
    <title>Our Cources</title>
</head>
<body>
    <div class="upr_container">
    <h2>Discover Cources</h2>
    <h3>Get started in science</h3>
    <p class="cource_intro">Science is the knowledge about the earth, surroundings and environment and the living beings involved. Science offers new information and revelations of many things we do not know. Day by day, science is progressing. Now science has helped man reach the moon, which was once unknown to man as a satellite.</p>
    </div>
    <div class="cards">
        <div class="science_cards"><img src="images/bg_physics.webp" alt="" class="science_image">
            PHYSICS
        </div>
        <div class="science_cards"><img src="images/bg_chemistry.jpg" alt="" class="science_image">
            CHEMISTRY
        </div>
        <div class="science_cards"><img src="images/bg_biology.jpg" alt="" class="science_image">
            BIOLOGY
        </div>
    </div>
    <div class="upr_container">
    <h3>Rock the engineering</h3>
    <p class="cource_intro">Engineering is the use of science and math to design or make things. People who do engineering are called engineers. They learn engineering at a college or university. Engineers usually design or build things. Some engineers also use their skills to solve technical problems.</p>
    </div>
    <div class="cards_1">
        <div class="eng_cards"><img src="images/bg_ai.jpg" alt="" class="eng_image">
            ARTIFICIAL INTELLIGNECE
        </div>
        <div class="eng_cards"><img src="images/bg_mechanics.jpg" alt="" class="eng_image">
            MECHANICS
        </div>
        <div class="eng_cards"><img src="images/bg_chemical.jpg" alt="" class="eng_image">
            CHEMICAL
        </div>
        <div class="eng_cards"><img src="images/bg_civil.jpg" alt="" class="eng_image">
            CIVIL
        </div>
        <div class="eng_cards"><img src="images/bg_electronics.jpg" alt="" class="eng_image">
            ELECTRONICS
        </div>


    </div>

</body>
</html>