<html>

<head>
  <link rel="icon" type="image/x-icon" href="https://telegra.ph/file/4b3af0d328540a9d397ad.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='Style/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='Bootstrap/ScrollEffects/onScroll.css')}}">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- <link rel="stylesheet" href="Style/hamburger.css"> -->
  <link rel="icon" type="image/x-icon" href="https://telegra.ph/file/4b3af0d328540a9d397ad.png">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <!--------NAV SECTION--------->
    <nav>
      <ul id="horizontal">
        <li><img src="https://telegra.ph/file/4b3af0d328540a9d397ad.png" id="logoImg"></li>
        <!-- <li><a href=#index>Clyde</a></li> -->
        <li><a href="/tutor">Tutor Profile</a></li>
        <li><a href="/doubt">Doubts</a></li>
        <li><a href="/cources">Our Courses</a></li>
        <li class="active"><a href="/login">Register Now</a></li>
        <li style="float:right" class="active"><a href="/login">
            <script src="https://cdn.lordicon.com/lusqsztk.js"></script>
            <lord-icon src="https://cdn.lordicon.com/ajkxzzfb.json" trigger="loop"
              colors="primary:#c74b16,secondary:#e88c30" style="width:45px;height:45px">
            </lord-icon>
          </a></li>
      </ul>
    </nav>
    <!--NAV SECTION ENDED-->
    <section id="introS">
      <div class="intro">
        <div id="para2">
          <video src="{{ url_for('static', filename='logo/logo.mp4')}}" width="145%" loop autoplay></video>
          <!-- <audio src="audio/song.mp3" autoplay></audio> -->
        </div>
        <div id="para22">
          <span class="manage-margin" style="margin-bottom: 50%;">
            <p style="font-size: 5rem;" class="h-primary text typing first-H" id="welcome">Find answers to your doubts
            </p>
            <p style="font-family: sans-serif; font-size: 2.2rem;">Interactive <b> one-on-one</b> doubts solving through
              video call or text messages</p>
          </span>
          <span id="search-section">
            <input id="search-field" type="text" placeholder="Search your doubts here!">
            <button id="expbtn" class="glow-on-hover" type="button">SEARCH</button>
          </span>
        </div>
      </div>

      <div class="container1">
        <h2 class="title">
          <span class="title-word title-word-1">Your</span>
          <span class="title-word title-word-2"><b>JOURNEY</b></span>
          <span class="title-word title-word-3">IS OUR</span>
          <span class="title-word title-word-4">PRIORITY!</span>
        </h2>
      </div>
  </header>


  <main>
    <section id="section1">
      <div class="img-container scroll-element js-scroll fade-in">
        <img
          src="https://media.istockphoto.com/photos/indian-woman-customer-care-representative-sitting-on-chair-at-home-picture-id1310210704?k=20&m=1310210704&s=612x612&w=0&h=MfZtXoOu9TlrXa-QGgdy3i9BBVjGMnQqnB3rhGBPOCc="
          style="margin-left: 10%;" alt="">
      </div>
      <div class="text-container scroll-element js-scroll slide-left" style="background-color: rgb(253, 156, 0);">
        <h3>Eurone's most visited diacec!</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta molestiae ullam, dicta impedit rerum hic
            facere! At dicta quae voluptatibus dolores, molestias sint delectus ducimus! Voluptatem maxime quod animi
            excepturi.</p>
      </div>
    </section>

    <section id="section2">
      <div class="text-container scroll-element js-scroll slide-left"
        style="background-color: rgb(0, 136, 255); margin-left: 10%;">
        <h3>ASIA most popular places</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta molestiae ullam, dicta impedit rerum hic
            facere! At dicta quae voluptatibus dolores, molestias sint delectus ducimus! Voluptatem maxime quod animi
            excepturi.</p>
      </div>
      <div class="img-container scroll-element js-scroll fade-in">
        <img
          src="https://media.istockphoto.com/photos/paperless-workplace-idea-esigning-electronic-signature-document-an-picture-id1349390515?b=1&k=20&m=1349390515&s=170667a&w=0&h=d9eagqJMGdGExzPlpxp1UdhHi23NJTubYzKB4zPTs_s="
          style="margin-left: 0%;" alt="">
      </div>

    </section>
    <section id="section3">
      <div class="img-container scroll-element js-scroll fade-in">
        <img
          src="https://media.istockphoto.com/photos/young-asian-couple-using-laptop-and-smartphone-together-lean-on-each-picture-id900331208?b=1&k=20&m=900331208&s=170667a&w=0&h=JfFTdah8kUn4j7aZzJGKPN_njumCvFaRxzsX9_khxp4="
          style="margin-left: 10%;" alt="">
      </div>
      <div class="text-container scroll-element js-scroll slide-left"
        style="background-color: rgb(0, 255, 191); margin-left: 0%;">
        <h3>India's most famous places</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta molestiae ullam, dicta impedit rerum hic
            facere! At dicta quae voluptatibus dolores, molestias sint delectus ducimus! Voluptatem maxime quod animi
            excepturi.</p>
      </div>
    </section>

  </main>

  <!-----------------------------special courses-------------------------------------->
  <section id="spc">
    <div id="spc1">
      <p class="first-H" style="font-size: 3rem; font-family:sans-serif;color: white;"><b>Special Courses</b></p>
      <hr>
      <p style="font-size: 1.5rem;color: rgb(121, 120, 120);">Special courses' concept is an model of education for
        person with
        disability.
        <b style="color: white;">Owing to lack of knowledge, educational access and technology , disabled children often
          get's the proper resources which they actually need.
          So for them we here at CLYDE offers different courses for them
          like "SIGN LANGUAGE","BRAILLE SCRIPT" ,"LIPREADING" ,"BILINGUAL METHOD" and many more.</b>
        According to the National Center for Education Statistics, about 11% of undergrads throughout the country
        report a disability.
        Online students with disabilities deserve equal access to the same resources, materials, and coursework as
        their classmates without disabilities.
        Working closely with Disability Services professionals, students are provided with the help and assistance
        they need to complete challenging coursework, be it: assistive technologies, readers, notetakers,
        interpreters, enlarged print, extra time for assignments and exams, and more!
        .Students can learn from these experts either in online as well as in offline mode according to their comfort.

        We hope at teaching them some helpful courses so that life may become a little easy for them.
      </p>
      <button class="glow-on-hover">JOIN NOW</button>
    </div>
    <div id="spc2">
      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img
          src="https://media.istockphoto.com/photos/blind-schoolboy-hands-reading-a-braille-book-in-classroom-picture-id1133794232?k=20&m=1133794232&s=612x612&w=0&h=jcM4Q1Pb34jp-mbMdGQXxvZuMJ1Mi5YkXvAU5Y6j_-s="
          style="width:30vw;height: 48vh; border-radius: 2%; box-shadow: 15px 25px dimgray;"">
        <!-- <div class=" text">Braille script
      </div> -->
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img
        src="https://media.istockphoto.com/photos/young-asian-woman-deaf-disabled-using-laptop-computer-for-online-picture-id1328269958?b=1&k=20&m=1328269958&s=170667a&w=0&h=aaQLkLlbwqmtJRqqXHu6kYz_vl9woM9VnNlJzO5JG44="
        style="width:30vw;height: 48vh; border-radius: 2%; box-shadow: 15px 25px dimgray;"">
        <!-- <div class=" text">Sign language
    </div> -->
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img
        src="https://media.istockphoto.com/photos/read-from-my-hands-picture-id654562488?k=20&m=654562488&s=612x612&w=0&h=99jZQZKo8CrVlvco2Eu2xQgpnxqOZcsMvPftcBxL1h8="
        style="width:30vw;height: 48vh; border-radius: 2%; box-shadow: 15px 25px dimgray;"">
        <!-- <div class=" text">Tutoring
    </div> -->
    </div>
    <div style="text-align:center; margin-top: 15%;">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    </div>
  </section>




  <section id="tanvi-section">
    <div class="sub">
      <div id="subs">
        <p id="onesub"><b>One subscription unlimited access</b></p>
        <p id="evyone">Every one of our plans unlocks access to our full tutor community and course catalog.
          Study with your favorite tutors every week or meet someone new for every lesson.
        </p>
      </div>
      <div id="sub2">
        <h1 style="font-family:cursive;"><b>Silver subscription</b></h1>
        <p style="font-size: 2.2rem;">Learn from local tutors from across your country</p>
        <p style="font-size: 1.5rem;">Experience CLYDE in your local language from your local tutors in your area,
          at a minimal subscription of Rs.100/per month.
        </p><br>
        <button class="glow-on-hover" style="margin-left:3vw;margin-top: 2vh;">Join Now</button>
      </div>
      <div id="sub3">
        <h1 style="font-family:cursive;"><b>Gold premium subscription</b></h1>
        <p style="font-size: 2.2rem;"> Learn from global tutors from across world</p>
        <p style="font-size: 1.5rem;"> Explore CLYDE globally and learn from international tutors
          , at an effective subscription of Rs.500/per months.
        </p>
        <button class="glow-on-hover" style="margin-left:3vw;"> Join now</button>
      </div>
    </div>



    <section class="intro1" style="height: fit-content;">
      <div id="imgChange">
        <img id="changeimg" src="https://telegra.ph/file/cca1d2cbb0a9076657055.png">
      </div>
      <div id="verticalb" style="height: 70vh;width: 60vh;padding-right: 10vh; margin-top: 4%;">
        <ul style="list-style-type: none; display: block;">
          <li class="glow-on-hover" style="padding-bottom: 35px; width: 40vh; height: 5vh; border-radius: 20%; "
            onclick="change1()">Lesson discovery</li>
          <li class="glow-on-hover" style="padding-bottom: 35px; width: 40vh; height: 5vh; border-radius: 20%;"
            onclick="change2()">Tutor profile</li>
          <li class="glow-on-hover" style="padding-bottom: 35px; width: 40vh; height: 5vh; border-radius: 20%;"
            onclick="change3()">Lesson review</li>
          <li class="glow-on-hover" style="padding-bottom: 35px; width: 40vh; height: 5vh; border-radius: 20%;"
            onclick="change4()">Flexible scheduling</li>
          <li class="glow-on-hover" style="padding-bottom: 35px; width: 40vh; height: 5vh; border-radius: 20%;"
            onclick="change5()">All around courses</li>
          <li class="glow-on-hover" style="padding-bottom: 35px; width: 40vh; height: 5vh; border-radius: 20%;"
            onclick="change6()">Smooth matchmaking</li>
        </ul>
      </div>
    </section>

    <!--demo class-->
    <div id="demoC" style="margin-top: 10vh;margin-bottom: 5vh;">
      <p id="book">
        Book your <b>Free Demo </b>class</p>
      <div id="inp">
        <input type="email" placeholder="Enter your email">
        <input type="text" placeholder="Enter your name">
        <input type="number" placeholder="Enter your phone number">
        <input type="text" placeholder="Enter your class">
        <button type="button" class="glow-on-hover" style="margin-left: 2vw;">Book free session</button>
      </div>

    </div>
    <div class="container2">
      <div class="card glow-on-hover">
        <h1>Notify.me</h1>
        <h2>Subscribe to our newsletter</h2>
        <p>Don't miss any notification from our side.</p>
        <p><small>We don't share your email with any third party companies, promise!</small></p>
        <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
          class="validate" novalidate>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="" tabindex="-1"
              value=""></div>
          <div class="clear"></div>
          <button name="subscribe" id="mc-embedded-subscribe" class="button glow-on-hover" type="submit">Subscribe
            US</button>
        </form>
      </div>
    </div>

  </section>


  <!--footer section-->
  <footer class="footer-section bg-with-black">
    <div class="footer-top-section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-fta">
              <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/logo2.png" alt="">
              <ul class="fta-list">
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Tutor Profile</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Doubts</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Our courses</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-fta">
              <h3 class="fta-title">Important Link</h3>
              <ul class="fta-list">
                <li><a href="#"><i class="fa fa-square"></i>Log In</a></li>
                <li><a href="/form"><i class="fa fa-square"></i>Apply form</a></li>
                <li><a href="#" style="color: #111;"><i class="fa fa-square"></i>spoken languages</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-fta">
              <h3 class="fta-title">Important Link</h3>
              <ul class="fta-list">
                <li><a href="#"><i class="fa fa-square"></i>Science</a></li>
                <li><a href="#"><i class="fa fa-square"></i>Engineering Subjects</a></li>
                <li><a href="#"><i class="fa fa-square"></i>Music</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="single-fta">
              <h3 class="fta-title">Contact Us</h3>
              <ul class="fta-list">
                <li>Address: Chitkara University,Rajpura,Punjab 140401</li>
                <li>Phone: (+91) 9501277568</li>
                <li>Email: Contact.be21@chitkara.edu.in</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="footer-bottom-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="footer-bottom">
              <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="fba-copyright">
                    <p>Copyright © 2022 Designed by Team Clyde. All rights reserved.</p>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="fba-links">
                    <ul>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Term & Conditions</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Sites Map</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script src="{{ url_for('static', filename='JavaScript/main.js')}}"></script>
  <script src="{{ url_for('static', filename='Bootstrap/ScrollEffects/onScroll.js')}}"></script>

  <!--
    responsive menu bar
    <div class="menu-icon" onclick="this.classList.toggle('hover');Drop(0)">
  <div class="menu-bar menu-bar1"></div>
  <div class="menu-bar menu-bar2"></div>
  <div class="menu-bar menu-bar3"></div>
</div>
<div class="menu">
  <div class="menu-con" style="background:IndianRed;"><p>HOME</p></div>
  <div class="menu-con" style="background:rgb(160,160,170);"><p>Courses</p></div>  
  <div class="menu-con" style="background:mediumseagreen;"><p>Tutors</p></div> 
  <div class="menu-con" style="background:teal;"><p>Doubts</p></div> 
  <div class="menu-con" style="background:rgb(70,70,70);"><p>Join us</p></div>
</div>
  -->
</body>

</html>
