<html>
  <head>
    <link rel="stylesheet" href="nav.css">
    
  </head>
  <body>
    <nav>
    
      <ul>
        <li><img src="C:\Users\LENOVO\OneDrive\Desktop\Web-Clyde\Clyde-Web\logo\online.png" id="logoImg"></li>
        <li><a href=#index>Clyde</a></li>
        <li><a href=#tutorProfile>Tutor Profile</a></li>
        <li><a href=#doubt>Doubts</a></li>
        <li><a href=#ourCourses>Our Courses</a></li>
        <li style="float:right" class="active"><a href=#signin>Sign Up</a></li>
        <li style="float:right" class="active"><a href=#login>Log In</a></li>
      </ul>
      
    </nav>
    <div id="para1">
      
    </div>
  
  </body>

</html>
