<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="Style/login.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>

</head>

<body>

	<p style="color: white; font-size:xx-large;"><b>Login to Khana Khazana&nbsp; &nbsp; &nbsp;</b></p>

	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form onsubmit="signup(event)">
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your email for registration</span>
				<input id="name" type="text" placeholder="Name" required />
				<input id="email" type="email" placeholder="Email" required />
				<input id="password" type="password" placeholder="Password" required />
				<button>Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form onsubmit="login(event)">
				<h1>Sign in</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
				<input id="email1" type="email" placeholder="Email" required>
				<input id="password1" type="password" placeholder="Password" required>
				<a href="#">Forgot your password?</a>
				<button><a href="../web.html"
						onClick="alert('Your Account has been made Please Continue Shopping')">Sign In</a></button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Welcome!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>

					<a href="../home.html"><button class="ghost">Home</a></button>
				</div>
			</div>
		</div>
	</div>
	<script>const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});</script>
	<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>

	<script>
		const firebaseConfig = {
			apiKey: "AIzaSyAByWb1CzSlgk0OzSS2llwPnkVE7NWQbXw",
			authDomain: "clyde-web.firebaseapp.com",
			databaseURL: "https://clyde-web-default-rtdb.asia-southeast1.firebasedatabase.app",
			projectId: "clyde-web",
			storageBucket: "clyde-web.appspot.com",
			messagingSenderId: "691435749279",
			appId: "1:691435749279:web:f7b33ad28a2fd62be6c7aa",
			measurementId: "G-722LG7913E"
		};

		// Initialize Firebase
		const app = initializeApp(firebaseConfig);
		const analytics = getAnalytics(app);



	</script>
	<script>

		// Submit form
		async function signup(e) {
			e.preventDefault();
			const email = document.querySelector("#email")
			const password = document.querySelector("#password")
			try {
				const result = await firebase.auth().createUserWithEmailAndPassword(email.value, password.value)
				M.toast({ html: `Welcome ${result.user.email}`, classes: "green" })
				console.log(result)
			} catch (err) {
				console.log(err)
				M.toast({ html: err.message, classes: "red" })

			}

		}
	</script>



</body>

</html>