ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#111;
    display: inline;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #111;
}
  
li a:hover:not(.active) {
    background-color: rgb(85, 83, 83);
}
  
.active {
    background-color: #111;
    text-align: center;
    
}
#logoImg{
    height: 46px;
    width: 45px;
}


