<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://telegra.ph/file/4b3af0d328540a9d397ad.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/turtor.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/hamburger.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Bootstrap/ScrollEffects/onScroll.css')}}">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tutor's Point</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li> <img id="logo" src="https://telegra.ph/file/4b3af0d328540a9d397ad.png" alt="" height="150px"></li>
                <li>
                    <nav role='navigation'>
                        <div id="menuToggle">
                            <input type="checkbox" />
                            <span></span>
                            <span></span>
                            <span></span>
                            <ul id="menu">
                                <li><img src="https://telegra.ph/file/4b3af0d328540a9d397ad.png" id="logoImg"
                                        style="border-radius:50%;" width="200px">
                                </li>
                                <li class="active" onclick="location.href='/'">Home</li>
                                <li><a href="/doubt">Doubts</a></li>
                                <li><a href="/cources">Our Courses</a></li>
                                <li onclick="location.href='/dashboard'">Dashboard</li>
                            </ul>
                        </div>
                    </nav>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="intro-in-main">
            <div>
                <p class="letter typing"></p>
            </div>
        </section>

        <div class="verticle-line"></div>

        <section id="offer-section">
            <h1>15% OFF</h1>
            <p class="P-letter">The world where your doubts get's resolved from your prefered Teachers!!</p>
            <p class="letter">STUDENT'S</p>
            <button onclick="location.href='/login'">Join Now</button>
        </section>

        <section style="margin-top: -20%" class="container">
            <h1 class="P-letter">Hey there!! you can now appoint your teacher as well !!</h1>
            <p class="P-letter">Clyde equips your dreams with the real-world teaching skills to succeed anywhere through
                specialized private self appoint tutor's from any device. <br>
                So, what are you waitting for??
            </p>
            <button onclick="location.href='/appointment'">Book Appointment</button>
        </section>

        <section id="choicse-section">
            <div class="scroll-element js-scroll fade-in ">
                <h1>Get Your Doubts Resolved Now!</h1>
                <p>Clyde gives instant access to private lessons with hundreds of patient, professional native English
                    speaking tutors from the UK, US, Australia, Canada and more.</p>
            </div>
            <!-- IMGAE SECTION -->
            <aside class="scroll-element js-scroll slide-right">
                <img src="{{ url_for('static', filename='images/tutorImg.png')}}" width=80% alt="">
            </aside>
        </section>

        <section id="part3" class="scroll-element js-scroll slide-left">
            <aside class="scroll-element js-scroll slide-right">
                <div class="mobile-model">
                    <div class="app-nav"></div>
                    <center>
                        <h1 class="letter">Clyde <span class="letter">App</span></h1>
                    </center>
                    <div class="app-bottom-nav">
                        <div class="app-controller">
                            <div style="background-color: black;">.</div>
                        </div>
                    </div>
                </div>

            </aside>
            <div>
                <p>ONLY WITH CLYDE</p>
                <h1 class="letter">Coming up with Mobile App Soon!! </h1>
                <p class="P-letter" style="font-size: 22px;">Personalized Learning!</h3>
            </div>
        </section>
        <section id="teacher-info-section">
            <div id="div-1">
                <div>
                    <h1 class="letter" style="font-family:''; font-weight: 100;">
                        Lessons for any schedule<br> from Lina Ma'am!
                    </h1>
                    <p>Students can book ahead of time with their favorite tutors or call <br>
                        on-demand from anywhere,
                        from any device.</p>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn0j-muT1Z1jfBKt93gguwqvtfQHgoHx3l7A&usqp=CAU"
                    alt="">
            </div>

            <div id="div-2">
                <img src="https://thumbs.dreamstime.com/b/software-engineer-working-project-cheerful-asian-enjoying-all-night-long-139439927.jpg"
                    alt="">
                <div>
                    <h1 class="letter" style="font-family:''; font-weight: 100;">
                        Private Tutoring
                    </h1>
                    <strong>Punit Sir!</strong>
                    <p>Every student can focus on their individual needs and goals
                        in<br> 1-on-1 classes.</p>
                </div>
            </div>
            <div id="div-3">
                <div>
                    <h1 class="letter" style="font-family:''; font-weight: 100;">
                        English for the real world
                    </h1>
                    <strong>Punit Sir!</strong>
                    <p>Students build skills and confidence<br> to navigate real world situations with ease through our
                        <br>conversation based methodology.
                    </p>
                </div>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlE6KlPlT2rmBMrSBhZSKSckY4c46Spro2jA&usqp=CAU"
                    alt="">
            </div>
        </section>
        <button id="last-btn" onclick="location.href='/appointment'" style="margin: 10px 45%; margin-bottom: 50px; background-color: orange; color: white;">Book Appointment</button>

    </main>
    <footer id="footer">
        <p style="color:aliceblue">hello</p>
        <!-- Add font awesome icons -->
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-instagram"></a>
    </footer>
    <script src="{{ url_for('static', filename='JavaScript/tutor.js')}}"></script>
    <script src="{{ url_for('static', filename='Bootstrap/ScrollEffects/onScroll.js')}}"></script>
</body>

</html>