<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Style/turtor.css">
    <link rel="stylesheet" href="Bootstrap/ScrollEffects/onScroll.css">
    <title>Tutor's Point</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li> <img id="logo" src="logo/online.png" alt="" height="150px"></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="intro-in-main">
            <div>
                <p class="letter typing"></p>
            </div>
        </section>

        <div class="verticle-line"></div>

        <section id="offer-section">
            <h1>15% OFF</h1>
            <p class="P-letter">The world where your doubts get's resolved from your prefered Teachers!!</p>
            <p class="letter">STUDENT'S</p>
            <button onclick="location.href='login.html'">Join Now</button>
        </section>

        <section style="margin-top: -25%" class="container">
            <h1 class="P-letter">Unlock Your Global Potential Teachers!!</h1>
            <p class="P-letter">Cambly equips your team with the real-world English skills to succeed anywhere through
                specialized private English tutoring from any device.</p>
            <button>Teacher's Join Now</button>
        </section>

        <section id="choicse-section">
            <div class="scroll-element js-scroll fade-in ">
                <h1>Get Your Doubts Resolved Now!</h1>
                <p>Clyde gives instant access to private lessons with hundreds of patient, professional native English
                    speaking tutors from the UK, US, Australia, Canada and more.</p>
            </div>
            <!-- IMGAE SECTION -->
            <aside class="scroll-element js-scroll slide-right"></aside>
        </section>

        <section id="part3" class="scroll-element js-scroll slide-left">
            <aside class="scroll-element js-scroll slide-right">
                <div class="mobile-model">
                    <div class="app-nav"></div>
                    <center>
                        <h1 class="letter">Clyde <span class="letter">App</span></h1>
                    </center>
                    <div class="app-bottom-nav">
                        <div class="app-controller">
                            <div style="background-color: black;">.</div>
                        </div>
                    </div>
                </div>

            </aside>
            <div>
                <p>ONLY WITH CLYDE</p>
                <h1 class="letter">Coming up with Mobile App Soon!! </h1>
                <p class="P-letter" style="font-size: 22px;">Personalized Learning!</h3>
            </div>
        </section>
        <section id="teacher-info-section">
            <div>
                <h1 class="letter" style="font-family:''; font-weight: 100;">
                    Lessons for any schedule<br> from Lina Ma'am!
                </h1>
                <p>Students can book ahead of time<br> with their favorite tutors or call <br>
                    on-demand from anywhere, 
                    from any device.</p>
            </div>
        </section>

    </main>
    <footer style="height: 100px;">

    </footer>
    <script src="JavaScript/tutor.js"></script>
    <script src="Bootstrap/ScrollEffects/onScroll.js"></script>
</body>

</html>
